body {
text-align: center;
background-color: #F8F2F2;
}

.content {
width: 428px;
background-color: #F2EFEE;
margin: auto;
display: flex;
flex-direction: column;
min-height: 100vh;
border-radius: 40px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.contents {
width: 536px;
text-align: center;
display: flex;
justify-content: center;
margin: auto;
background-color: #F2EFEE;

}

main {
flex: 1;
text-align: center;
display: flex;
justify-content: center;
}

/* Header.css */

header {
background-color: #E9C9CE;
color: #fff;
height: 60px;
padding: 20px;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
border-radius: 40px 40px 0px 0px;
}

/* Footer.css */

footer {
background-color: #EBF2F2;
text-align: center;
/*position: absolute;*/
bottom: 0;
width: 100%;
margin: auto;
border-radius: 0px 0px 40px 40px;
padding: 20px 0;
}

.menu ul {
display: contents;
list-style-type: none;
margin: auto;
}

.menu ul li {
display: inline;
margin: 10px;
}

.menu ul li a {
border-radius: 8rem;
height: 60px;
width: 60px;
padding: 40px;
background-color: #fff;
text-decoration: none;
padding: 26px 20px;
color: #000;
font-weight: 700;
}

.test {
height: 1200px;
margin: 0 20px;
margin-top: 80px;
}



.list,
.Shipping {
border-radius: 12px;
box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
background-color: #fff;
display: flex;
margin-top: 20px;
width: 100%;
flex-direction: column;
padding: 20px 10px;
margin-bottom: 12px;
}



.spacebetween {
align-self: center;
display: flex;
width: 100%;
max-width: 336px;

gap: 20px;
margin: auto;
justify-content: space-between;
}

.spacebetweens {
align-self: stretch;
display: flex;
align-items: center;
justify-content: space-between;
gap: 6px;
}

.line {
background-color: #d9d9d9;
margin-top: 14px;
height: 1px;
margin-bottom: 14px;
}

.div-6 {
align-self: center;
display: flex;
margin-top: 14px;
width: 100%;
max-width: 335px;
align-items: center;
justify-content: space-between;
gap: 20px;
}

.span-3 {
display: flex;
flex-direction: column;
margin: auto 0;
align-items: flex-start;

}

.listtitle {
letter-spacing: 3px;
white-space: nowrap;
font: 400 12px Noto Sans, sans-serif;
}


.span-4 {
align-self: stretch;
display: flex;
flex-direction: column;
}

.listright {
justify-content: flex-end;
color: #000;
text-align: right;
letter-spacing: 3px;
margin-left: 16px;
white-space: nowrap;
font: 500 14px Noto Sans, sans-serif;
}

h1,
h2,
h3 {
color: #35b4ba;
display: flex;
letter-spacing: 1.4px;
justify-content: flex-start;
}

h4 {
display: contents;
letter-spacing: 2px;
justify-content: flex-start;
}

.create {
display: flex;
flex-direction: row;
margin: 0 20px;
}

.listname {
display: flex;
flex-direction: column;
flex: 1;
text-align: left;
line-height: 36px;
}

.listinput {
display: flex;
flex-direction: column;
flex: 4;
justify-content: space-around;

}

.Shipping {
display: flex;
flex-direction: column;
}

.address,
.note{
text-align: left;
line-height: 24px;
margin-bottom: 24px;
}

.prodectname {
text-align: left;
line-height: 24px;
display: flex;
flex-direction: column;
justify-content: space-between;

}


.Scndmenu {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.content2nd {
border-radius: 12px;
box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
background-color: #fff;
display: flex;
margin-top: 20px;
flex-direction: column;
padding: 20px 0;
align-items: center;
}
.ordercount {
display: flex;
align-content: space-between;
justify-content: space-between;
line-height: 38px;
width: 225px;
}
.headermenu{
background-color:#E9C9CE;
color: #fff;
height: 80px;
padding: 20px;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
border-radius: 40px 40px 0px 0px;
letter-spacing: 3px;
display: flex;
justify-content: space-between;


}
.headermenu a{
color: #302F2F;
}
.headermenu a:hover{
text-decoration: none;
opacity: 0.75;
}

@media(max-width:767px){
.content {
/* max-width: 375px; */
width: 100%;
border: 0;
/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
border-radius: 0px;
}
footer,.headermenu {
border-radius: 0px;
}
.headermenu {
text-align: center;
position: fixed;
width: 100%;
top: 0;
z-index: 98;

}
}




.list a{
color:#302F2F;
}

.list a:hover{
text-decoration: none;
}

.listtitlenames{
font: 700 20px Noto Sans, sans-serif;
}

.listtop{
display: flex;
flex-direction: row;
justify-content: space-between;

}

.list img{
width: 80px;
border-radius: 10px;

}

.state {
letter-spacing: 2px;
color: #35b4ba;
}
.list.quantity {
line-height: 36px;
}

.list.quantity .spacebetween {
display: flex;
/* align-content: space-between; */
justify-content: space-between;
align-items: center;
}

.listleft.listtitlenames {
line-height: 50px;
letter-spacing: 2px;
}

input.btn.btn-success.btn-lg.btn-block {
background-color: #35b4ba;
border: #35b4ba;
}